// COLORS
$color-primary: #eee;
$color-primary-light: #f7f7f7;
$color-primary-dark: #777;

$color-secondary: #3ebb93;
$color-secondary-dark: #ff7730;

$color-tertiary: #0a9fbf;
$color-tertiary-dark: #3d5266;
$color-tertiary-dark2: #052142;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-red: red;
$color-yellow: rgb(255, 217, 0);
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.5rem;
