// COLORS
$color-primary: #0a9fbf;
$color-primary-light: #66cde4;
$color-primary-dark: #106f85;

$color-secondary: #3ebb93;
$color-secondary-dark: #258063;

$color-tertiary: #052142;
$color-tertiary-dark: #031830;
$color-tertiary-dark2: #030d1a;

$color-grey: rgb(226, 224, 224);
$color-grey-light: #eee;
$color-grey-light2: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-border: #f2f3f5;

$color-red: red;
$color-yellow: rgb(255, 217, 0);
$color-white: #fff;
$color-black: #000;
$color-green: rgb(11, 126, 11);

// FONT
$default-font-size: 1.5rem;
