.footer {
  background-color: $color-secondary;
  font-size: 1rem;
  padding: 1rem;
  padding-bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: $color-white;

  >p {
    font-size: 1rem;

    @include respond(tab-port) {
      font-size: 1rem;
    }

    @include respond(phone) {
      font-size: 0.7rem;
    }
  }
  &__container {
    display: flex;
    flex: 1;
    max-width: 1200px;

    @include respond(tab-port) {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }



  &__col {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__row {
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
    font-weight: 100;

    >h1 {
      font-size: 1.8rem;

      @include respond(tab-port) {
        font-size: 1.2rem;
      }

      @include respond(phone) {
        font-size: 1rem;
      }
    }

    >h2 {
      font-size: 1.5rem;

      @include respond(tab-port) {
        font-size: 1rem;
      }

      @include respond(phone) {
        font-size: 0.7rem;
      }
    }
  }

  &__contact {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: $default-font-size;

    .icon:nth-child(n) {
      padding: 0 0.5rem;
    }
  }
}