.footer {
  background-color: $color-tertiary-dark;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  flex: 1;
  color: $color-white;
  margin: 0 auto;
  &__container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
  }  @include respond(tab-port) {
    flex-wrap: wrap;
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }

  &__row {
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
    font-weight: 100;
  }

  &__contact {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: $default-font-size;

    .icon:nth-child(n) {
      padding: 0 0.5rem;
    }
  }
}
