.button {
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  padding: 1rem 2rem;
  border-radius: 3px;
  min-width: 100px;
  color: $color-white;
  font-size: 1.5rem;
  background: linear-gradient(180deg, $color-primary, $color-secondary);
  border: 0px solid $color-primary-dark;

  &--outline {
    background: transparent;
    border: 1px solid $color-primary-dark;
    background: linear-gradient(180deg, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    // make fill color to transparent so that masked background color will be shown
    -webkit-text-fill-color: transparent;
  }

  &--primary {
    background: $color-tertiary;
    border: 1px solid $color-tertiary;
  }

  &--danger {
    background: red;
    color: $color-white;
  }
}
