/* ======================================= */
.intro {
  height: 50vh;
  background: grey;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;


  &__heading {
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-weight: 800;
  }

  &__content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    &--paragraph {
      color: white;
      font-size: 1.5rem;
    }
  }

  &__action {
    padding-top: 1rem;
    display: flex;
    justify-content: center;

    &--paragraph {
      color: white;
      font-size: 1.5rem;
    }
  }
}

.space {
  width: 1rem;
}

// Explore
.explores {
  background-color: $color-primary-light;
  display: flex;
  flex: 1;
  padding: 3rem;
  padding-bottom: 9rem;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: flex-start;
    align-items: stretch;
  }

  &__content {
    display: flex;
    flex: 0.45;
    flex-wrap: wrap;
    margin-left: 3rem;
    flex-direction: column;
    text-align: left;

    @include respond(tab-port) {
      flex-direction: row;
    }
  }

  &__img {
    display: flex;
    flex: 0.55;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-dark-2;
    font-size: 4rem;
    height: 70vh;

    @include respond(tab-port) {
      flex: none;
      height: 50vh;

    }
  }



  &__item {
    padding: 1rem;
    width: 60%;

    @include respond(tab-port) {
      width: 45%;

      &:last-child {
        width: 100%;

      }
    }

    &-header {
      display: flex;
      font-size: 2rem;
      align-items: center;
    }
  }
}

// ==================================
.products {
  display: flex;
  justify-content: center;

  @include respond(tab-port) {

    flex-wrap: wrap;

  }

  &__item {
    display: flex;
    justify-content: center;
    padding: 1rem;

    @include respond(tab-port) {

      width: 45%;

    }
  }

  &__content {
    padding: 2rem 4rem;
    font-size: $default-font-size;
    color: $color-grey-dark;
    padding-bottom: 9rem;
  }

}

.product {
  font-size: 1rem;
  color: $color-grey-dark;
  display: flex;



  &__type {
    text-transform: uppercase;
    font-weight: 800;
    color: $color-grey-dark;
    padding-bottom: 2rem;
  }

  &__content {
    font-size: 1.7rem;
    padding: 0 3rem;
  }

  &__price {
    display: flex;
    align-items: stretch;
    flex: 1;

    &--currency {
      align-items: flex-start;
      font-size: 2rem;
      display: flex;
      padding-right: 0.5rem;
    }

    &--value {
      font-size: 5rem;
      line-height: initial;
      display: flex;
      align-items: flex-end;

    }

    &--uom {
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      padding-bottom: 0.5rem;

    }
  }
}

// ==========================
.services {
  display: flex;
  flex: 1;
  justify-content: start;
  padding: 2rem 2rem;
  flex-wrap: wrap;


  &__col {
    display: flex;
    flex: 0.3333333;
    align-items: stretch;
    flex-direction: column;

    @include respond(tab-port) {
      flex-direction: row;
      width: 100%;
      flex: none;

      &:last-child {
        flex-direction: column;
        flex: 1;
        align-items: stretch;
      }
    }
  }

  // &__col:last-child {

  //   width: 100%;
  //   background: red;
  // }

  &__action {
    width: 300px;
    margin: auto;
    padding-bottom: 9rem;
  }
}





.service {
  padding: 1rem;
  display: flex;
  flex: 1;
  justify-content: start;
  font-size: $default-font-size;



  &__header {
    font-size: 2rem;

  }

  &__left {
    padding-right: 1rem;
  }

  &__right {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;

  }
}

// ===============================

.teams {
  display: flex;
  justify-content: center;
  padding: 0 3rem;
  padding-bottom: 8rem;

  @include respond(tab-port) {
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 10rem;
    width: 50%;

    @include respond(tab-port) {

      &:last-child {
        width: 100%;
      }
    }
  }

}

.team {
  margin: 1rem;

  &__header {
    margin-top: -76px;
    margin-bottom: 1rem;
    display: flex;
  }

  &__position {
    color: $color-grey-dark;
    font-size: 1rem;

  }

  &__avatar {
    width: 90px;
    height: 90px;
    border-radius: 60px;
    background: $color-grey-dark-2;
    border: 10px solid $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contact {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: $default-font-size;

    .icon:nth-child(n) {
      padding: 0 0.5rem;
    }
  }
}